.destacados-bg{
    background-color: #6D757C;
}

.container{
    gap: 150px;
}

.container-img{
    img{
        margin-top: 5px;
        margin-bottom: 5px;
        max-height: 180px;
    }
}

.container-nombre{
    max-width: 250px;
    font-size: 30px;
}

@media (max-width:576px) {
    .container{
        gap: 30px;
    }

    .container-img{
        img{
            max-height: 150px;
        }
    }

    .container-nombre{
        max-width: 150px;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .container{
        gap: 90px;
    }


    .container-nombre{
        max-width: 200px;
        font-size: 25px;
    }
}